h1{
    color: yellow;

}
h2 {
    color: rgb(158, 158, 218);
    font-size: 25px;
}

header {
    background: #aa4d00;
}

h3 { border-width:4px;
	border-style: solid;
	border-color: #ff0000;
	padding-top: 4px;
	margin: px;
  }

h3 {text-align: center;
}

#imagem-principal {
     width: 45%;
}

.texto-um {
    background: yellow; 
}

ul{
    display: inline-block;
    vertical-align: center;
    width: 40%;
    margin: 15px;
    font-size: 35px;
}

ul li{
    background: whitesmoke;
    color: blueviolet;
}

footer{
    background: rgba(107, 6, 6, 0.863);
}