h2 {color: rgb(158, 158, 218);
}

body {background-color: #aa4d00
}

h3 { border-width:4px;
	border-style: solid;
	border-color: #ff0000;
	padding: 4px;
	margin: 100px;
  }

h3 {text-align: center;
}

#imagem-principal {
     width: 25%;
}

.texto-um {
    background-color: yellow; 
}

ul{
    display: inline-block;
    vertical-align: center;
    width: 40%;
    margin: 0px 10px 0px 0px;
}
